%h4
  Webpage
  = @webpage.url
%h3
  Column
  = @column.nth_from_left
%h2
  Section
  = "#{@section.nth_section_from_top}:#{@section.title}"
%h1 Bookmark

- form_for(@bookmark, :url => webpage_column_section_bookmark_path(@webpage, @column, @section, @bookmark), :method => :put ) do |f|
  = f.error_messages
  %p
    = f.label :nth_from_top_of_section
    %br
    = f.text_field :nth_from_top_of_section
    %p
      = f.label :legend
      %br
      = f.text_field :legend
      %p
      = f.label :image
      %br
      = f.text_field :image
  %p
    = f.submit "Update"

= link_to "Back to #{@section.full_name}", webpage_column_section_path(@webpage, @column, @section)