<h1>New bookmark</h1>

<% form_for(@bookmark) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :section_id %><br />
    <%= f.text_field :section_id %>
  </p>
  <p>
    <%= f.label :nth_from_top_of_section %><br />
    <%= f.text_field :nth_from_top_of_section %>
  </p>
  <p>
    <%= f.label :legend %><br />
    <%= f.text_field :legend %>
  </p>
  <p>
    <%= f.label :image %><br />
    <%= f.text_field :image %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', bookmarks_path %>
