#flash
  - [ :error, :warning, :notice ].each do |level|
    - unless flash[level].blank?
      %div{ :class => "flash flash-#{level}" }
        = flash[level]
- @webpage.columns.each do |column|
  .column
    - column.sections.each do |section|
      .section
        .section_title
          = section.title
        - section.bookmarks.each do |bookmark|
          .bookmark
            %a{ :href => bookmark.url }
              - if bookmark.image
                = image_tag(bookmark.image.public_filename)
              - else
                = bookmark.legend
%br/
=link_to 'Edit Page', edit_page_path
  