#spinner{ :style => "display: none;" }
  = image_tag "spinner.gif"
%center
  %br/
  %h2 Bookmarks Editor
.instructions
  The
  %span.instructions_columns outer boxes
  are Columns.
  Use
  %span.instructions_column_insert_button +
  and
  %span.instructions_otimes &otimes;
  to add and remove columns.
  %br/
  Columns contain
  %span.instructions_sections sections
  \.
  To move a section between columns, grab it by the title and drag it.
  %br/
  Sections contain
  %span.instructions_bookmarks bookmarks
  (URLs).
  Bookmarks can be dragged between sections.
#flash_container
#columns
  = render(:partial => 'columns/column', :collection => @page.columns)
  #add_column_on_right_button.column_add_button= add_column_on_right_button
= make_bookmarks_sortable
= make_sections_sortable
