<h1>Editing webpage</h1>

<% form_for(@webpage, :url => update_webpage_path(:id => @webpage)) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', webpage_path(:id => @webpage) %> |
<%= link_to 'Back', webpages_path %>
