<h1>Listing webpages</h1>

<table>
  <tr>
    <th>Url</th>
  </tr>

<% for webpage in @webpages %>
  <tr>
    <td><%=h webpage.url %></td>
    <td><%= link_to 'Show', webpage %></td>
    <td><%= link_to 'Edit', edit_webpage_path(:id => webpage) %></td>
    <td><%= link_to 'Destroy', webpage, :confirm => 'Are you sure?', :method => :delete %></td>
    <td>
      webpages_path <%= webpages_path %><br>
      new_webpage_path <%= new_webpage_path %><br>
      create_webpage_path <%= create_webpage_path %><br>
      webpage_path <%= webpage_path(:id => webpage) %><br>
      edit_webpage_path <%= edit_webpage_path(:id => webpage) %><br>
      update_webpage_path <%= update_webpage_path(:id => webpage) %><br>
      delete_webpage_path <%= delete_webpage_path(:id => webpage) %><br>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New webpage', new_webpage_path %>

