<h1>Listing columns</h1>

<table>
  <tr>
    <th>Webpage</th>
    <th>Nth from left</th>
  </tr>

<% for column in @columns %>
  <tr>
    <td><%=h column.webpage_id %></td>
    <td><%=h column.nth_from_left %></td>
    <td><%= link_to 'Show', column %></td>
    <td><%= link_to 'Edit', edit_column_path(column) %></td>
    <td><%= link_to 'Destroy', column, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New column', new_column_path %>
