%h1
  Webpage
  =h @column.webpage.url
%h2
  Column
  = @column.nth_from_left
  
%table#sectionsTable
  %tr
    %th#sectionsTableNthSectionFromTopHeading Nth section from top
    %th#sectionsTableTitleHeading Title
  - @column.sections.each do |section|
    %tr
      %td.sectionNthSectionFromTop=h section.nth_section_from_top
      %td.sectionTitle=h section.title
      %td.rowAction= link_to 'Show', webpage_column_section_path(@webpage, @column, section)
      %td.rowAction= link_to 'Edit', edit_webpage_column_section_path(@webpage, @column, section)
      %td.rowAction= link_to 'Destroy', webpage_column_section_path(@webpage, @column, section), :confirm => 'Are you sure?', :method => :delete
  %tr
    %td#newSection= link_to 'New section', new_webpage_column_section_path(@webpage, @column)
%br
= link_to "Back to #{@webpage.url}", webpage_path(@webpage)
