<h1>Listing sections</h1>

<table>
  <tr>
    <th>Column</th>
    <th>Nth section from top</th>
    <th>Title</th>
  </tr>

<% for section in @sections %>
  <tr>
    <td><%=h section.column_id %></td>
    <td><%=h section.nth_section_from_top %></td>
    <td><%=h section.title %></td>
    <td><%= link_to 'Show', section %></td>
    <td><%= link_to 'Edit', edit_section_path(section) %></td>
    <td><%= link_to 'Destroy', section, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New section', new_section_path %>
