<p>
  <b>Column:</b>
  <%=h @section.column_id %>
</p>

<p>
  <b>Nth section from top:</b>
  <%=h @section.nth_section_from_top %>
</p>

<p>
  <b>Title:</b>
  <%=h @section.title %>
</p>


<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
